body {
  background: #f3f3f3;
  margin: 0;
}
.container {
  max-width: 1024px;
  min-height: 100vh;
  background: #f9f9f9;
  margin: 0 auto;
}
.page-heading {
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
  padding: 20px 0;
  background-color: #a3a0fb;
}
.page-heading a {
  text-decoration: none;
  color: #000;;
}
.page-content {
  padding: 20px;
}
.user-nav {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.button {
  padding: 10px 30px;
  color: #fff;
  background: #016aba;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  text-decoration: none;
}
.invoice-card {
  background-color: #f6f6f6;
  padding: 10px 15px;
  margin-top: 1rem;
}
.invoice-details {
  display: flex;
  justify-content: space-between;
}
.invoice-form {
  text-align: center;
}
.invoice-form input {
  padding: 11px;
  font-size: 18px;
  width: 300px;
  margin: 20px auto 50px;
  background-color: rgba(255,255,255,.75);
  border: 1px solid #d3d3d3;
  display: block;
}
.invoice-link {
  text-decoration: none;
  margin-right: 1rem;
  cursor: pointer;
}
.invoice-link.edit {
  color: #5cbf9f;
}
.invoice-link.delete {
  color: red;
}
.filter-input {
  padding: 11px;
}